:root {
  --vermelho: #b50000;
}

header {
  background: var(--vermelho);
  color: white;
  padding: 35px 20px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

.btn-add { background: var(--vermelho); color: white; }
.btn-add:hover { background: #7d0000; }

.btn-emergencia { background: var(--vermelho); color: #fff; border: 2px solid #7d0000; }
