.btn-normal { background: #28a745; color: white; border: 2px solid #1e7e34; }
.btn-urgencia { background: #ffcc00; color: #222; border: 2px solid #b50000; }
.btn-emergencia { background: #b50000; color: white; border: 2px solid #7d0000; }
