body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

.login-overlay {
    background: url('/img/fundo.jpg') no-repeat center bottom;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.35);
    text-align: center;
}

.login-box h1 {
    color: #b50000;
    margin-bottom: 25px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.login-box button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #b50000;
    color: #fff;
    font-weight: bold;
    cursor:
